In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()
from sklearn.linear_model import LinearRegression

In [4]:
data = pd.read_csv('real_estate_price_size_year.csv')

In [5]:
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [9]:
x = data[['size','year']]

In [10]:
y = data['price']

In [12]:
reg = LinearRegression()
reg.fit(x,y)

LinearRegression()

In [13]:
from sklearn.feature_selection import f_regression

In [14]:
f_regression(x,y)

(array([285.92105192,   0.85525799]), array([8.12763222e-31, 3.57340758e-01]))

In [15]:
p_values = f_regression(x,y)[1]

In [16]:
reg_summary = pd.DataFrame(data=x.columns.values,columns=['Features'])

In [17]:
reg_summary['Coeficients'] = reg.coef_

In [18]:
reg_summary['p_values'] = p_values.round(3)

In [19]:
reg_summary

  Features  Coeficients  p_values
0     size   227.700854     0.000
1     year  2916.785327     0.357